*~
*#
*.swp

*.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.egg-info/

/.coverage
/.coverage.*
/.cache
/.pytest_cache
/.mypy_cache
dist
/doc/_apidoc/
build
speech_phylo/IECoR_Main_M3_Binary_Covarion_Rates_By_Mg_Bin_combined_prunedtospeech.trees
*.trees
